<div class="container py-4 blue">
  <div class="row">
    <div class="col-lg-5 col-md-6 col-sm-12">
      <a class="" href="">
        <img class="podcast__img" style="max-width: 100%;
        height: 230px;
        " src="https://picsum.photos/1000/1000" />
      </a>
    </div>
    <div class="col-lg-5 text-center py-4">
      <h1 class=" text-center py-4">{{podcast.title}}</h1>
      <p>
        {{podcast.description}}
      </p>
    </div>
  </div>
  <div class="h1 text-center text-white p-4 dark">Latest Episodes</div>
  <article class="episode dark blue" *ngFor="let episode of episodes">
    <a class="episode__img_link">
      <img class="episode__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
    </a>
    <div class="episode__text">
      <h1 class="episode__title blue"><a href="#">{{episode.title}}</a></h1>
      <div class="episode__subtitle small">
        <time datetime="2020-05-25 12:00:00">
          <i class="fa fa-calendar mr-2"></i>{{episode.pubDate | date : "fullDate"}}
        </time>
      </div>
      <div class="episode__bar"></div>
      <div class="episode__preview-txt">{{episode.description}} </div>
      <ul class="episode__tagbox">
        <li class="tag__item"><i class="fa fa-tag mr-2"></i>Like</li>
        <li class="tag__item"><i class="fa fa-clock-o mr-2"></i>{{episode.audioLengthSec}}</li>
        <li class="tag__item"><i class="fa fa-plus-circle"></i> Add to playlist</li>
        <li class="tag__item ">
          <a href="#"><i class="fa fa-play mr-2"></i>Play Episode</a>
        </li>
      </ul>
    </div>
  </article>
</div>
