<section class="dark">
  <div class="container py-4">
    <div class="row">
      <div class="col-lg-12 text-center py-4" style="color: white;">
        <h1 class="text-center py-4">The Rough Cut</h1>
        <p>
          The Rough Cut features in-depth interviews with the top film and television post production
          professionals working in the industry today. Hosted by @MattFeury of Avid Technology.
        </p>
      </div>
    </div>
    <div class="h1 text-center text-white p-4" id="pageHeaderTitle">Latest Episodes</div>
    <article class="episode dark blue">
      <a class="episode__img_link" href="">
        <img class="episode__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
      </a>
      <div class="episode__text">
        <h1 class="episode__title blue"><a href="#">EP01: Star Wars Galaxy Guides</a></h1>
        <div class="episode__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fa fa-calendar mr-2"></i>Mon, May 25th 2020
          </time>
        </div>
        <div class="episode__bar"></div>
        <div class="episode__preview-txt">While John is hard at work editing our coverage of Eddie Murphy's
          triumphant return to Studio 8H, please enjoy this excerpt from
          the Star Wars TV Talk episode—on which John is regularly featured. </div>
        <ul class="episode__tagbox">
          <li class="tag__item"><i class="fa fa-tag mr-2"></i>Like</li>
          <li class="tag__item"><i class="fa fa-clock-o mr-2"></i>55 mins</li>
          <li class="tag__item"><i class="fa fa-plus-circle"></i> Add to playlist</li>
          <li class="tag__item ">
            <a href="#"><i class="fa fa-play mr-2"></i>Play Episode</a>
          </li>
        </ul>
      </div>
    </article>
    <article class="episode dark red">
      <a class="episode__img_link" href="#">
        <img class="episode__img" src="https://picsum.photos/501/500" alt="Image Title" />
      </a>
      <div class="episode__text">
        <h1 class="episode__title red"><a href="#">EP02: Shang-Chi and the Legend of the Ten Rings</a></h1>
        <div class="episode__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fa fa-calendar mr-2"></i>Tue, Sept 7th 2021
          </time>
        </div>
        <div class="episode__bar"></div>
        <div class="episode__preview-txt">Editors - Elísabet Ronaldsdottír ACE, Nat Sanders ACE and Harry
          Yoon ACE
          Shang-Chi and the Legend of the Ten Rings editors Elísabet Ronaldsdóttir ACE, Nat Sanders ACE
          and Harry Yoon ACE combined their unique skills and sensibilities to craft the heart, comedy and
          action that made Marvel's latest entry in the MCU a hit with audiences and ... </div>
        <ul class="episode__tagbox">
          <li class="tag__item"><i class="fa fa-tag mr-2"></i>episode</li>
          <li class="tag__item"><i class="fa fa-clock-o mr-2"></i>60 mins</li>
          <li class="tag__item"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add to playlist</li>
          <li class="tag__item ">
            <a href="#"><i class="fa fa-play mr-2"></i>Play Episode</a>
          </li>
        </ul>
      </div>
    </article>

    <article class="episode dark green">
      <a class="episode__img_link" href="#">
        <img class="episode__img" src="https://picsum.photos/500/501" alt="Image Title" />
      </a>
      <div class="episode__text">
        <h1 class="episode__title green"><a href="#">EP03:
            In The Heights</a></h1>
        <div class="episode__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fa fa-calendar mr-2"></i>Fri, May 29th 2021
          </time>
        </div>
        <div class="episode__bar"></div>
        <div class="episode__preview-txt">Editor, Myron Kerstein ACE
          In The Heights editor, Myron Kerstein ACE had plenty of experience to draw from when tackling
          the film adaptation of Lin-Manuel Miranda's Broadway hit. Not only had he previously worked with
          In the Heights director John Chu on their film, Crazy Rich Asians, but Myron had a diverse pool
          of film and tv projects to draw from as well. Myron'</div>
        <ul class="episode__tagbox">
          <li class="tag__item"><i class="fa fa-tag mr-2"></i>Like</li>
          <li class="tag__item"><i class="fa fa-clock-o mr-2"></i>45 mins</li>
          <li class="tag__item"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add to playlist</li>
          <li class="tag__item ">
            <a href="#"><i class="fa fa-play mr-2"></i>Play Episode</a>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>
