<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="" class="navbar-brand" routerLink="/podcasts">Podcast</a></div>

    <div class="container justify-content-center" style="margin-left: 10%;">
      <ul class="navbar-nav sm-4">
        <li class="nav-item"><a class="nav-link" *ngIf="hardcodedAuthenticationService.isUserLoggedIn()"
            routerLink="/podcasts">Podcasts</a></li>
        <li class="nav-item"><a class="nav-link" *ngIf="hardcodedAuthenticationService.isUserLoggedIn()"
            routerLink="/subscriptions">Subscriptions</a></li>
        <li class="nav-item"><a class="nav-link" *ngIf="hardcodedAuthenticationService.isUserLoggedIn()"
            routerLink="/categories">Categories</a></li>
        <li class="nav-item"><a class="nav-link" *ngIf="hardcodedAuthenticationService.isUserLoggedIn()"
            routerLink="/creators">Creators</a></li>
        <li class="nav-item"><a class="nav-link"
            *ngIf="hardcodedAuthenticationService.isACreator() && hardcodedAuthenticationService.isUserLoggedIn() "
            routerLink="/mypodcasts">MyPodcasts</a></li>
      </ul>
    </div>


    <div class="container justify-content-end">
      <form class="form-inline my-2 my-lg-0" *ngIf="hardcodedAuthenticationService.isUserLoggedIn()">
        <input class="form-control mr-sm-2" name="searchWord" type="text" placeholder="Search" [(ngModel)]="searchWord"
          (input)="searchThis()">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

    <ul class="navbar-nav navbar-collapse justify-content-end">

      <li><a class="nav-link" *ngIf="hardcodedAuthenticationService.isUserLoggedIn()"
          routerLink="/account">{{hardcodedAuthenticationService.getAuthenticatedUser()}}</a>
      </li>
      <li><a class="nav-link" *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/login">Login</a>
      </li>
      <li><a class="nav-link" *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/logout">Logout</a>
      </li>
    </ul>
  </nav>
</header>

{{isUserACreator}}
