<br>
<br>
<div class="alert alert-warning" style="align-items: center;" *ngIf="podcasts == null">No Podcasts to display currently
</div>

<h1 *ngIf="categoryParameter"> {{categoryParameter}} Podcasts :</h1>

<h1 *ngIf="context==='podcasts'"> Latest Podcasts :</h1>
<h3 *ngIf="context==='subscriptions' && podcasts.length > 0"> Your Podcasts Subscriptions:</h3>
<br>
<div>
  <ng-container *ngFor="let podcast of podcasts">
    <app-podcast [podcast]="podcast">
    </app-podcast>
  </ng-container>
</div>
