@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
body {
  font-family: "Baloo 2", cursive;
  font-size: 16px;
  color: #fff;
  text-rendering: optimizeLegibility;
  font-weight: initial;
}
.dark {
  background: #110f16;
}
a,
a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.podcast {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #fff;
}
.podcast.dark {
  background-color: #18151f;
}

.podcast a {
  color: inherit;
}
.podcast h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.podcast .small {
  font-size: 80%;
}

.checked {
  color: orange;
}
.podcast .podcast__title {
  font-size: 1.75rem;
  margin-right: 0%;
}
.podcast .podcast__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.podcast .podcast__img_link {
  display: contents;
}
.podcast .podcast__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
}

.podcast .podcast__bar2 {
  width: 700px;
  height: 2px;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 5px;
}
.podcast .podcast__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.podcast .podcast__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}
.podcast .podcast__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}
.podcast .podcast__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  transition: background-color 0.3s;
}
.podcast .podcast__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}
.podcast:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}
.podcast:hover .podcast__bar {
  width: 100px;
}

.creator {
  display: flex;
}

.creator .creator_img {
  margin-left: 45%;
  justify-content: right;
}

.creator .creator_img .creator_name {
}
.creator .creator_img > img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.creator .podcast__rating {
  margin-top: 10%;
}
@media screen and (min-width: 769px) {
  .podcast {
    flex-wrap: inherit;
  }
  .podcast .podcast__title {
    font-size: 2rem;
  }
  .podcast .podcast__tagbox {
    justify-content: start;
  }
  .podcast .podcast__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  .podcast .podcast__text {
    padding: 3rem;
    width: 100%;
  }
  .podcast:hover .podcast__img {
    transform: scale(1.1);
  }
  .podcast:nth-child(2n + 1) {
    flex-direction: row;
  }
  .podcast:nth-child(2n + 0) {
    flex-direction: row-reverse;
  }
  .podcast:nth-child(2n + 1) .podcast__text::before {
    left: -20px !important;
  }
  .podcast:nth-child(2n + 0) .podcast__text::before {
    right: -20px !important;
  }
}
