<div class="container categories-list">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="categories">
        <div class="categories-img text-center py-4 .bg-primary">
          <h5 class=" card-title text-uppercase font-roboto">SOCIETY</h5>
        </div>
        <div class=" card-body text-center" style="background-color: #18151f;">
          <span>12.436 Episodes</span>
          <p class="card-text text-secondary">
            Some quick example text to build on the card title and make up the bulk of the
            card's content
          </p>
          <ul class="categories__tagbox">
            <li class="tag__item">
              <a routerLink="/podcasts"><i class="bi bi-arrow-up-circle-fill"></i> Podcasts</a>
            </li>
            <li class="tag__item">
              <a href="#"><i class="bi bi-arrow-up-circle-fill"></i> Episodes</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="categories">
        <div class="categories-img text-center py-4 .bg-primary">
          <h5 class="card-title text-uppercase font-roboto">CULTURE</h5>
        </div>
        <div class="card-body text-center">

          <span>123.456 Episodes</span>
          <p class="card-text text-secondary">
            Some quick example text to build on the card title and make up the bulk of the
            card's content
          </p>
          <ul class="categories__tagbox">
            <li class="tag__item">
              <a href="#"><i class="bi bi-arrow-up-circle-fill"></i> Podcasts</a>
            </li>
            <li class="tag__item">
              <a href="#"><i class="bi bi-arrow-up-circle-fill"></i> Episodes</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="categories">
        <div class="categories-img text-center py-4 .bg-primary">
          <h5 class="card-title text-uppercase font-roboto">TECHNOLOGY</h5>
        </div>
        <div class="card-body text-center" style="background-color: #18151f;">
          <span>56.877 Episodes</span>
          <p class="card-text text-secondary">
            Some quick example text to build on the card title and make up the bulk of the
            card's content
          </p>
          <ul class="categories__tagbox">
            <li class="tag__item">
              <a href="#"><i class="bi bi-arrow-up-circle-fill"></i> Podcasts</a>
            </li>
            <li class="tag__item">
              <a href="#"><i class="bi bi-arrow-up-circle-fill"></i> Episodes</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="categories">
        <div class="categories-img text-center py-4 .bg-primary">
          <h5 class="card-title text-uppercase font-roboto">EDUCATION</h5>
        </div>
        <div class="card-body text-center">
          <span>56.436 Episodes</span>
          <p class="card-text text-secondary">
            Some quick example text to build on the card title and make up the bulk of the
            card's content
          </p>
          <ul class="categories__tagbox">
            <li class="tag__item">
              <a href="#"><i class="bi bi-arrow-up-circle-fill"></i> Podcasts</a>
            </li>
            <li class="tag__item">
              <a href="#"><i class="bi bi-arrow-up-circle-fill"></i> Episodes</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="categories">
        <div class="categories-img text-center py-4 .bg-primary">
          <h5 class="card-title text-uppercase font-roboto">ART</h5>
        </div>
        <div class="card-body text-center" style="background-color: #18151f;">

          <span>123.456 Episodes</span>
          <p class="card-text text-secondary">
            Some quick example text to build on the card title and make up the bulk of the
            card's content
          </p>
          <ul class="categories__tagbox">
            <li class="tag__item">
              <a href="#"><i class="bi bi-arrow-up-circle-fill"></i> Podcasts</a>
            </li>
            <li class="tag__item">
              <a href="#"><i class="bi bi-arrow-up-circle-fill"></i> Episodes</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="categories">
        <div class="categories-img text-center py-4 .bg-primary">
          <h5 class="card-title text-uppercase font-roboto">SPIRITUALITY</h5>
        </div>
        <div class="card-body text-center">
          <span>13.446 Episodes</span>
          <p class="card-text text-secondary">
            Some quick example text to build on the card title and make up the bulk of the
            card's content
          </p>
          <ul class="categories__tagbox">
            <li class="tag__item">
              <a href="#"><i class="bi bi-arrow-up-circle-fill"></i> Podcasts</a>
            </li>
            <li class="tag__item">
              <a href="#"><i class="bi bi-arrow-up-circle-fill"></i> Episodes</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="categories">
        <div class="categories-img text-center py-4 .bg-primary">
          <h5 class="card-title text-uppercase font-roboto">BUSINESS</h5>
        </div>
        <div class="card-body text-center" style="background-color: #18151f;">
          <span>123.456 Episodes</span>
          <p class="card-text text-secondary">
            Some quick example text to build on the card title and make up the bulk of the
            card's content
          </p>
          <ul class="categories__tagbox">
            <li class="tag__item">
              <a href="#"><i class="bi bi-arrow-up-circle-fill"></i> Podcasts</a>
            </li>
            <li class="tag__item">
              <a href="#"><i class="bi bi-arrow-up-circle-fill"></i> Episodes</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="categories">
        <div class="categories-img text-center py-4 .bg-primary">
          <h5 class="card-title text-uppercase font-roboto">COMEDY</h5>
        </div>
        <div class="card-body text-center">

          <span>123.456 Episodes</span>
          <p class="card-text text-secondary">
            Some quick example text to build on the card title and make up the bulk of the
            card's content
          </p>
          <ul class="categories__tagbox">
            <li class="tag__item" style="background-color: #EA035C">
              <a href="#"><i class="bi bi-arrow-up-circle-fill"></i> Podcasts</a>
            </li>
            <li class="tag__item">
              <a href="#"><i class="bi bi-arrow-up-circle-fill"></i> Episodes</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
