<form action="" style="margin-top: 3%; width: 300px; margin-left:30%">

  <input class="form-control" type="text" name="search" placeholder="Search" (input)="searchCreator()"
    [(ngModel)]="searchWord">
</form>
{{searchWord}}
<!-- <div class="creators">
  <div class="creator" *ngFor="let user of users" style="padding: 3%;">
    <div class="img">
      <a smooth="true" href="">
        <img style="border-radius: 50%;" src="https://picsum.photos/1000/1000" width="136" height="136">
      </a>
    </div>
    <div class="host">
      <div class="creator_name">{{user.fullName}}</div>
      <div class="host_title">Host</div>
      <div class="podcast_name" *ngFor="let podcast of user.createdPodcasts">
        <span>{{podcast.title}}</span>
      </div>
    </div>
  </div>
</div> -->

<div class="creators">
  <ng-container *ngFor="let user of users" style="padding: 3%;">
    <app-creator class="creator" [user]="user">
    </app-creator>
  </ng-container>
</div>
