.creators {
  margin: 3%;
  display: flex;
}

.creators .creator {
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 2rem;
  background-color: #f1f1f1;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.host {
  margin-top: 50px;
}

.host .creator_name {
  text-align: center;
  color: #72788c;
}

.host .host_title {
  color: black;
  text-align: center;
  font-size: large;
}

.host .host_title .host_name {
  text-align: center;
  color: #72788c;
}
