.creators {
  margin: 3%;
  display: flex;
}

.creators .creator {
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  width: 300px;
  margin: 2rem;
  background-color: #f1f1f1;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
